h1{
    color: black;
    background-color: lightgrey;
    padding: 50px;
    text-align: center;

}


h2{
    text-align: center;

}


p{
    text-align: center;
    font-size: 30px;
}

body{
    background-color: #FAFAFA;
}